
input[type=range]{
    margin-top: 8px;
    outline: none;
    -webkit-appearance: none;   /*清除系统默认样式*/
    width:100% !important;
    background: -webkit-linear-gradient(#3769fb00, #5f677d00) no-repeat, #dddddd00;
    height: 3px;/*横条的高度  */
}
    /*拖动块的样式*/  
input[type=range]::-webkit-slider-thumb {  
    -webkit-appearance: none;/*清除系统默认样式*/
    height:16px; /*拖动块高度*/
    width: 16px; /*拖动块宽度  */
    background: #fff; /*拖动块背景*/
    border-radius: 50%; /*外观设置为圆形 */
    border: solid 2px #3769fb;
/*设置边框 */
}

